

    html {
        position: relative;
        min-height: 100%;
      }
      body {
        /* Margin bottom by footer height */
        margin-bottom: 00px;
      }
      .footer {
        position: absolute;
        bottom: -5px;
        left: -100px;
        width: 120%;
        /* Set the fixed height of the footer here */
        height: 60px;
        background-color: #ffffff00;
        text-align: left;
        color: rgb(168, 168, 168);
        font-size: 0.24in;
      }